{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "SAP SucessFactors EC",
    "description": "SAP SucessFactors EC connector for employment and job data"
  },
  "host": "sandbox.api.sap.com",
  "basePath": "/successfactors/odata/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/EmpEmployment": {
      "get": {
        "summary": "List employments",
        "description": "List employments from SF EC",
        "operationId": "ListEmployments",
        "parameters": [
          {
            "name": "$top",
            "default": "10",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "StockEndDate": {
                            "type": "string",
                            "description": "StockEndDate"
                          },
                          "assignmentClass": {
                            "type": "string",
                            "description": "assignmentClass"
                          },
                          "benefitsEligibilityStartDate": {
                            "type": "string",
                            "description": "benefitsEligibilityStartDate"
                          },
                          "benefitsEndDate": {
                            "type": "string",
                            "description": "benefitsEndDate"
                          },
                          "bonusPayExpirationDate": {
                            "type": "string",
                            "description": "bonusPayExpirationDate"
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "createdBy"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "description": "createdDateTime"
                          },
                          "createdOn": {
                            "type": "string",
                            "description": "createdOn"
                          },
                          "eligibleForSalContinuation": {
                            "type": "string",
                            "description": "eligibleForSalContinuation"
                          },
                          "eligibleForStock": {
                            "type": "string",
                            "description": "eligibleForStock"
                          },
                          "employeeFirstEmployment": {
                            "type": "string",
                            "description": "employeeFirstEmployment"
                          },
                          "endDate": {
                            "type": "string",
                            "description": "endDate"
                          },
                          "firstDateWorked": {
                            "type": "string",
                            "description": "firstDateWorked"
                          },
                          "includeAllRecords": {
                            "type": "string",
                            "description": "includeAllRecords"
                          },
                          "initialOptionGrant": {
                            "type": "string",
                            "description": "initialOptionGrant"
                          },
                          "initialStockGrant": {
                            "type": "string",
                            "description": "initialStockGrant"
                          },
                          "isContingentWorker": {
                            "type": "string",
                            "description": "isContingentWorker"
                          },
                          "isECRecord": {
                            "type": "string",
                            "description": "isECRecord"
                          },
                          "jobNumber": {
                            "type": "string",
                            "description": "jobNumber"
                          },
                          "lastDateWorked": {
                            "type": "string",
                            "description": "lastDateWorked"
                          },
                          "lastModifiedBy": {
                            "type": "string",
                            "description": "lastModifiedBy"
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "description": "lastModifiedDateTime"
                          },
                          "lastModifiedOn": {
                            "type": "string",
                            "description": "lastModifiedOn"
                          },
                          "okToRehire": {
                            "type": "string",
                            "description": "okToRehire"
                          },
                          "originalStartDate": {
                            "type": "string",
                            "description": "originalStartDate"
                          },
                          "payrollEndDate": {
                            "type": "string",
                            "description": "payrollEndDate"
                          },
                          "personIdExternal": {
                            "type": "string",
                            "description": "personIdExternal"
                          },
                          "prevEmployeeId": {
                            "type": "string",
                            "description": "prevEmployeeId"
                          },
                          "professionalServiceDate": {
                            "type": "string",
                            "description": "professionalServiceDate"
                          },
                          "regretTermination": {
                            "type": "string",
                            "description": "regretTermination"
                          },
                          "salaryEndDate": {
                            "type": "string",
                            "description": "salaryEndDate"
                          },
                          "seniorityDate": {
                            "type": "string",
                            "description": "seniorityDate"
                          },
                          "serviceDate": {
                            "type": "string",
                            "description": "serviceDate"
                          },
                          "startDate": {
                            "type": "string",
                            "description": "startDate"
                          },
                          "userId": {
                            "type": "string",
                            "description": "userId"
                          },
                          "empBeneficiaryNav": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              }
                            },
                            "description": "empBeneficiaryNav"
                          },
                          "empJobRelationshipNav": {
                            "type": "object",
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdBy": {
                                      "type": "string",
                                      "description": "createdBy"
                                    },
                                    "createdDateTime": {
                                      "type": "string",
                                      "description": "createdDateTime"
                                    },
                                    "createdOn": {
                                      "type": "string",
                                      "description": "createdOn"
                                    },
                                    "endDate": {
                                      "type": "string",
                                      "description": "endDate"
                                    },
                                    "lastModifiedBy": {
                                      "type": "string",
                                      "description": "lastModifiedBy"
                                    },
                                    "lastModifiedDateTime": {
                                      "type": "string",
                                      "description": "lastModifiedDateTime"
                                    },
                                    "lastModifiedOn": {
                                      "type": "string",
                                      "description": "lastModifiedOn"
                                    },
                                    "operation": {
                                      "type": "string",
                                      "description": "operation"
                                    },
                                    "relUserId": {
                                      "type": "string",
                                      "description": "relUserId"
                                    },
                                    "relationshipType": {
                                      "type": "string",
                                      "description": "relationshipType"
                                    },
                                    "startDate": {
                                      "type": "string",
                                      "description": "startDate"
                                    },
                                    "userId": {
                                      "type": "string",
                                      "description": "userId"
                                    },
                                    "employmentNav": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "value"
                                        }
                                      },
                                      "description": "employmentNav"
                                    },
                                    "relEmploymentNav": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "value"
                                        }
                                      },
                                      "description": "relEmploymentNav"
                                    }
                                  }
                                },
                                "description": "results"
                              }
                            },
                            "description": "empJobRelationshipNav"
                          },
                          "empPensionPayoutNav": {
                            "type": "object",
                            "properties": {
                              "createdBy": {
                                "type": "string",
                                "description": "createdBy"
                              },
                              "createdDateTime": {
                                "type": "string",
                                "description": "createdDateTime"
                              },
                              "createdOn": {
                                "type": "string",
                                "description": "createdOn"
                              },
                              "employmentNav": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                },
                                "description": "employmentNav"
                              },
                              "endDate": {
                                "type": "string",
                                "description": "endDate"
                              },
                              "lastModifiedBy": {
                                "type": "string",
                                "description": "lastModifiedBy"
                              },
                              "lastModifiedDateTime": {
                                "type": "string",
                                "description": "lastModifiedDateTime"
                              },
                              "lastModifiedOn": {
                                "type": "string",
                                "description": "lastModifiedOn"
                              },
                              "payrollEndDate": {
                                "type": "string",
                                "description": "payrollEndDate"
                              },
                              "personIdExternal": {
                                "type": "string",
                                "description": "personIdExternal"
                              },
                              "plannedEndDate": {
                                "type": "string",
                                "description": "plannedEndDate"
                              },
                              "startDate": {
                                "type": "string",
                                "description": "startDate"
                              },
                              "userId": {
                                "type": "string",
                                "description": "userId"
                              }
                            },
                            "description": "empPensionPayoutNav"
                          },
                          "empWorkPermitNav": {
                            "type": "object",
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "attachment": {
                                      "type": "string",
                                      "description": "attachment"
                                    },
                                    "attachmentFileName": {
                                      "type": "string",
                                      "description": "attachmentFileName"
                                    },
                                    "attachmentFileSize": {
                                      "type": "string",
                                      "description": "attachmentFileSize"
                                    },
                                    "attachmentFileType": {
                                      "type": "string",
                                      "description": "attachmentFileType"
                                    },
                                    "attachmentId": {
                                      "type": "string",
                                      "description": "attachmentId"
                                    },
                                    "attachmentMimeType": {
                                      "type": "string",
                                      "description": "attachmentMimeType"
                                    },
                                    "attachmentStatus": {
                                      "type": "string",
                                      "description": "attachmentStatus"
                                    },
                                    "country": {
                                      "type": "string",
                                      "description": "country"
                                    },
                                    "createdBy": {
                                      "type": "string",
                                      "description": "createdBy"
                                    },
                                    "createdDateTime": {
                                      "type": "string",
                                      "description": "createdDateTime"
                                    },
                                    "createdOn": {
                                      "type": "string",
                                      "description": "createdOn"
                                    },
                                    "documentNumber": {
                                      "type": "string",
                                      "description": "documentNumber"
                                    },
                                    "documentTitle": {
                                      "type": "string",
                                      "description": "documentTitle"
                                    },
                                    "documentType": {
                                      "type": "string",
                                      "description": "documentType"
                                    },
                                    "expirationDate": {
                                      "type": "string",
                                      "description": "expirationDate"
                                    },
                                    "isValidated": {
                                      "type": "string",
                                      "description": "isValidated"
                                    },
                                    "issueDate": {
                                      "type": "string",
                                      "description": "issueDate"
                                    },
                                    "issuePlace": {
                                      "type": "string",
                                      "description": "issuePlace"
                                    },
                                    "issuingAuthority": {
                                      "type": "string",
                                      "description": "issuingAuthority"
                                    },
                                    "lastModifiedBy": {
                                      "type": "string",
                                      "description": "lastModifiedBy"
                                    },
                                    "lastModifiedDateTime": {
                                      "type": "string",
                                      "description": "lastModifiedDateTime"
                                    },
                                    "lastModifiedOn": {
                                      "type": "string",
                                      "description": "lastModifiedOn"
                                    },
                                    "notes": {
                                      "type": "string",
                                      "description": "notes"
                                    },
                                    "userId": {
                                      "type": "string",
                                      "description": "userId"
                                    },
                                    "employmentNav": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "value"
                                        }
                                      },
                                      "description": "employmentNav"
                                    }
                                  }
                                },
                                "description": "results"
                              }
                            },
                            "description": "empWorkPermitNav"
                          },
                          "jobInfoNav": {
                            "type": "object",
                            "properties": {
                              "results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "assedicCertInitialStateNum": {
                                      "type": "string",
                                      "description": "assedicCertInitialStateNum"
                                    },
                                    "assedicCertObjectNum": {
                                      "type": "string",
                                      "description": "assedicCertObjectNum"
                                    },
                                    "businessUnit": {
                                      "type": "string",
                                      "description": "businessUnit"
                                    },
                                    "calcMethodIndicator": {
                                      "type": "string",
                                      "description": "calcMethodIndicator"
                                    },
                                    "commitmentIndicator": {
                                      "type": "string",
                                      "description": "commitmentIndicator"
                                    },
                                    "company": {
                                      "type": "string",
                                      "description": "company"
                                    },
                                    "contractReferenceForAed": {
                                      "type": "string",
                                      "description": "contractReferenceForAed"
                                    },
                                    "contractType": {
                                      "type": "string",
                                      "description": "contractType"
                                    },
                                    "costCenter": {
                                      "type": "string",
                                      "description": "costCenter"
                                    },
                                    "countryOfCompany": {
                                      "type": "string",
                                      "description": "countryOfCompany"
                                    },
                                    "createdBy": {
                                      "type": "string",
                                      "description": "createdBy"
                                    },
                                    "createdDateTime": {
                                      "type": "string",
                                      "description": "createdDateTime"
                                    },
                                    "createdOn": {
                                      "type": "string",
                                      "description": "createdOn"
                                    },
                                    "defaultOvertimeCompensationVariant": {
                                      "type": "string",
                                      "description": "defaultOvertimeCompensationVariant"
                                    },
                                    "department": {
                                      "type": "string",
                                      "description": "department"
                                    },
                                    "division": {
                                      "type": "string",
                                      "description": "division"
                                    },
                                    "eeo1JobCategory": {
                                      "type": "string",
                                      "description": "eeo1JobCategory"
                                    },
                                    "eeo4JobCategory": {
                                      "type": "string",
                                      "description": "eeo4JobCategory"
                                    },
                                    "eeo5JobCategory": {
                                      "type": "string",
                                      "description": "eeo5JobCategory"
                                    },
                                    "eeo6JobCategory": {
                                      "type": "string",
                                      "description": "eeo6JobCategory"
                                    },
                                    "eeoClass": {
                                      "type": "string",
                                      "description": "eeoClass"
                                    },
                                    "electoralCollegeForWorkersRepresentatives": {
                                      "type": "string",
                                      "description": "electoralCollegeForWorkersRepresentatives"
                                    },
                                    "electoralCollegeForWorksCouncil": {
                                      "type": "string",
                                      "description": "electoralCollegeForWorksCouncil"
                                    },
                                    "empRelationship": {
                                      "type": "string",
                                      "description": "empRelationship"
                                    },
                                    "emplStatus": {
                                      "type": "string",
                                      "description": "emplStatus"
                                    },
                                    "employeeClass": {
                                      "type": "string",
                                      "description": "employeeClass"
                                    },
                                    "employeeWorkgroupMembership": {
                                      "type": "string",
                                      "description": "employeeWorkgroupMembership"
                                    },
                                    "employmentType": {
                                      "type": "string",
                                      "description": "employmentType"
                                    },
                                    "endDate": {
                                      "type": "string",
                                      "description": "endDate"
                                    },
                                    "event": {
                                      "type": "string",
                                      "description": "event"
                                    },
                                    "eventReason": {
                                      "type": "string",
                                      "description": "eventReason"
                                    },
                                    "exclExecutiveSector": {
                                      "type": "string",
                                      "description": "exclExecutiveSector"
                                    },
                                    "expectedReturnDate": {
                                      "type": "string",
                                      "description": "expectedReturnDate"
                                    },
                                    "familyRelationshipWithEmployer": {
                                      "type": "string",
                                      "description": "familyRelationshipWithEmployer"
                                    },
                                    "fgtsDate": {
                                      "type": "string",
                                      "description": "fgtsDate"
                                    },
                                    "fgtsOptant": {
                                      "type": "string",
                                      "description": "fgtsOptant"
                                    },
                                    "fgtsPercent": {
                                      "type": "string",
                                      "description": "fgtsPercent"
                                    },
                                    "flsaStatus": {
                                      "type": "string",
                                      "description": "flsaStatus"
                                    },
                                    "fte": {
                                      "type": "string",
                                      "description": "fte"
                                    },
                                    "harmfulAgentExposure": {
                                      "type": "string",
                                      "description": "harmfulAgentExposure"
                                    },
                                    "hazard": {
                                      "type": "string",
                                      "description": "hazard"
                                    },
                                    "healthRisk": {
                                      "type": "string",
                                      "description": "healthRisk"
                                    },
                                    "holidayCalendarCode": {
                                      "type": "string",
                                      "description": "holidayCalendarCode"
                                    },
                                    "isCompetitionClauseActive": {
                                      "type": "string",
                                      "description": "isCompetitionClauseActive"
                                    },
                                    "isFulltimeEmployee": {
                                      "type": "string",
                                      "description": "isFulltimeEmployee"
                                    },
                                    "isSideLineJobAllowed": {
                                      "type": "string",
                                      "description": "isSideLineJobAllowed"
                                    },
                                    "jobCode": {
                                      "type": "string",
                                      "description": "jobCode"
                                    },
                                    "jobTitle": {
                                      "type": "string",
                                      "description": "jobTitle"
                                    },
                                    "laborProtection": {
                                      "type": "string",
                                      "description": "laborProtection"
                                    },
                                    "lastModifiedBy": {
                                      "type": "string",
                                      "description": "lastModifiedBy"
                                    },
                                    "lastModifiedDateTime": {
                                      "type": "string",
                                      "description": "lastModifiedDateTime"
                                    },
                                    "lastModifiedOn": {
                                      "type": "string",
                                      "description": "lastModifiedOn"
                                    },
                                    "location": {
                                      "type": "string",
                                      "description": "location"
                                    },
                                    "managerId": {
                                      "type": "string",
                                      "description": "managerId"
                                    },
                                    "mandatoryWorkBreakRecord": {
                                      "type": "string",
                                      "description": "mandatoryWorkBreakRecord"
                                    },
                                    "municipalInseeCode": {
                                      "type": "string",
                                      "description": "municipalInseeCode"
                                    },
                                    "notes": {
                                      "type": "string",
                                      "description": "notes"
                                    },
                                    "operation": {
                                      "type": "string",
                                      "description": "operation"
                                    },
                                    "payGrade": {
                                      "type": "string",
                                      "description": "payGrade"
                                    },
                                    "payScaleArea": {
                                      "type": "string",
                                      "description": "payScaleArea"
                                    },
                                    "payScaleGroup": {
                                      "type": "string",
                                      "description": "payScaleGroup"
                                    },
                                    "payScaleLevel": {
                                      "type": "string",
                                      "description": "payScaleLevel"
                                    },
                                    "payScaleType": {
                                      "type": "string",
                                      "description": "payScaleType"
                                    },
                                    "pcfm": {
                                      "type": "string",
                                      "description": "pcfm"
                                    },
                                    "pensionProtection": {
                                      "type": "string",
                                      "description": "pensionProtection"
                                    },
                                    "permitIndicator": {
                                      "type": "string",
                                      "description": "permitIndicator"
                                    },
                                    "position": {
                                      "type": "string",
                                      "description": "position"
                                    },
                                    "positionEntryDate": {
                                      "type": "string",
                                      "description": "positionEntryDate"
                                    },
                                    "probationPeriodEndDate": {
                                      "type": "string",
                                      "description": "probationPeriodEndDate"
                                    },
                                    "regularTemp": {
                                      "type": "string",
                                      "description": "regularTemp"
                                    },
                                    "residentVote": {
                                      "type": "string",
                                      "description": "residentVote"
                                    },
                                    "retired": {
                                      "type": "string",
                                      "description": "retired"
                                    },
                                    "seqNumber": {
                                      "type": "string",
                                      "description": "seqNumber"
                                    },
                                    "sickPaySupplement": {
                                      "type": "string",
                                      "description": "sickPaySupplement"
                                    },
                                    "standardHours": {
                                      "type": "string",
                                      "description": "standardHours"
                                    },
                                    "startDate": {
                                      "type": "string",
                                      "description": "startDate"
                                    },
                                    "teachersPension": {
                                      "type": "string",
                                      "description": "teachersPension"
                                    },
                                    "timeRecordingAdmissibilityCode": {
                                      "type": "string",
                                      "description": "timeRecordingAdmissibilityCode"
                                    },
                                    "timeRecordingProfileCode": {
                                      "type": "string",
                                      "description": "timeRecordingProfileCode"
                                    },
                                    "timeRecordingVariant": {
                                      "type": "string",
                                      "description": "timeRecordingVariant"
                                    },
                                    "timeTypeProfileCode": {
                                      "type": "string",
                                      "description": "timeTypeProfileCode"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "timezone"
                                    },
                                    "travelDistance": {
                                      "type": "string",
                                      "description": "travelDistance"
                                    },
                                    "tupeOrgNumber": {
                                      "type": "string",
                                      "description": "tupeOrgNumber"
                                    },
                                    "userId": {
                                      "type": "string",
                                      "description": "userId"
                                    },
                                    "workLocation": {
                                      "type": "string",
                                      "description": "workLocation"
                                    },
                                    "workerCategory": {
                                      "type": "string",
                                      "description": "workerCategory"
                                    },
                                    "workingDaysPerWeek": {
                                      "type": "string",
                                      "description": "workingDaysPerWeek"
                                    },
                                    "workingTimeDirective": {
                                      "type": "string",
                                      "description": "workingTimeDirective"
                                    },
                                    "workscheduleCode": {
                                      "type": "string",
                                      "description": "workscheduleCode"
                                    },
                                    "wtdHoursLimit": {
                                      "type": "string",
                                      "description": "wtdHoursLimit"
                                    },
                                    "employmentNav": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "value"
                                        }
                                      },
                                      "description": "employmentNav"
                                    },
                                    "managerEmploymentNav": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string",
                                          "description": "value"
                                        }
                                      },
                                      "description": "managerEmploymentNav"
                                    }
                                  }
                                },
                                "description": "results"
                              }
                            },
                            "description": "jobInfoNav"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "target": {
                      "type": "string",
                      "description": "target"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "message": {
                            "type": "string",
                            "description": "message"
                          },
                          "target": {
                            "type": "string",
                            "description": "target"
                          }
                        }
                      },
                      "description": "details"
                    },
                    "innererror": {
                      "type": "object",
                      "properties": {},
                      "description": "innererror"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        }
      }
    },
    "/EmpEmployment(personIdExternal=\u0027%7B%7BexternalUserId%7D%7D\u0027,userId=\u0027%7B%7BuserId%7D%7D\u0027)": {
      "get": {
        "summary": "Get employment",
        "description": "Get a single employment record",
        "operationId": "GetEmployment",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "StockEndDate": {
                      "type": "string",
                      "description": "StockEndDate"
                    },
                    "assignmentClass": {
                      "type": "string",
                      "description": "assignmentClass"
                    },
                    "benefitsEligibilityStartDate": {
                      "type": "string",
                      "description": "benefitsEligibilityStartDate"
                    },
                    "benefitsEndDate": {
                      "type": "string",
                      "description": "benefitsEndDate"
                    },
                    "bonusPayExpirationDate": {
                      "type": "string",
                      "description": "bonusPayExpirationDate"
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "createdBy"
                    },
                    "createdDateTime": {
                      "type": "string",
                      "description": "createdDateTime"
                    },
                    "createdOn": {
                      "type": "string",
                      "description": "createdOn"
                    },
                    "eligibleForSalContinuation": {
                      "type": "string",
                      "description": "eligibleForSalContinuation"
                    },
                    "eligibleForStock": {
                      "type": "string",
                      "description": "eligibleForStock"
                    },
                    "employeeFirstEmployment": {
                      "type": "string",
                      "description": "employeeFirstEmployment"
                    },
                    "endDate": {
                      "type": "string",
                      "description": "endDate"
                    },
                    "firstDateWorked": {
                      "type": "string",
                      "description": "firstDateWorked"
                    },
                    "includeAllRecords": {
                      "type": "string",
                      "description": "includeAllRecords"
                    },
                    "initialOptionGrant": {
                      "type": "string",
                      "description": "initialOptionGrant"
                    },
                    "initialStockGrant": {
                      "type": "string",
                      "description": "initialStockGrant"
                    },
                    "isContingentWorker": {
                      "type": "string",
                      "description": "isContingentWorker"
                    },
                    "isECRecord": {
                      "type": "string",
                      "description": "isECRecord"
                    },
                    "jobNumber": {
                      "type": "string",
                      "description": "jobNumber"
                    },
                    "lastDateWorked": {
                      "type": "string",
                      "description": "lastDateWorked"
                    },
                    "lastModifiedBy": {
                      "type": "string",
                      "description": "lastModifiedBy"
                    },
                    "lastModifiedDateTime": {
                      "type": "string",
                      "description": "lastModifiedDateTime"
                    },
                    "lastModifiedOn": {
                      "type": "string",
                      "description": "lastModifiedOn"
                    },
                    "okToRehire": {
                      "type": "string",
                      "description": "okToRehire"
                    },
                    "originalStartDate": {
                      "type": "string",
                      "description": "originalStartDate"
                    },
                    "payrollEndDate": {
                      "type": "string",
                      "description": "payrollEndDate"
                    },
                    "personIdExternal": {
                      "type": "string",
                      "description": "personIdExternal"
                    },
                    "prevEmployeeId": {
                      "type": "string",
                      "description": "prevEmployeeId"
                    },
                    "professionalServiceDate": {
                      "type": "string",
                      "description": "professionalServiceDate"
                    },
                    "regretTermination": {
                      "type": "string",
                      "description": "regretTermination"
                    },
                    "salaryEndDate": {
                      "type": "string",
                      "description": "salaryEndDate"
                    },
                    "seniorityDate": {
                      "type": "string",
                      "description": "seniorityDate"
                    },
                    "serviceDate": {
                      "type": "string",
                      "description": "serviceDate"
                    },
                    "startDate": {
                      "type": "string",
                      "description": "startDate"
                    },
                    "userId": {
                      "type": "string",
                      "description": "userId"
                    },
                    "empBeneficiaryNav": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "empBeneficiaryNav"
                    },
                    "empJobRelationshipNav": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "createdBy": {
                                "type": "string",
                                "description": "createdBy"
                              },
                              "createdDateTime": {
                                "type": "string",
                                "description": "createdDateTime"
                              },
                              "createdOn": {
                                "type": "string",
                                "description": "createdOn"
                              },
                              "endDate": {
                                "type": "string",
                                "description": "endDate"
                              },
                              "lastModifiedBy": {
                                "type": "string",
                                "description": "lastModifiedBy"
                              },
                              "lastModifiedDateTime": {
                                "type": "string",
                                "description": "lastModifiedDateTime"
                              },
                              "lastModifiedOn": {
                                "type": "string",
                                "description": "lastModifiedOn"
                              },
                              "operation": {
                                "type": "string",
                                "description": "operation"
                              },
                              "relUserId": {
                                "type": "string",
                                "description": "relUserId"
                              },
                              "relationshipType": {
                                "type": "string",
                                "description": "relationshipType"
                              },
                              "startDate": {
                                "type": "string",
                                "description": "startDate"
                              },
                              "userId": {
                                "type": "string",
                                "description": "userId"
                              },
                              "employmentNav": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                },
                                "description": "employmentNav"
                              },
                              "relEmploymentNav": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                },
                                "description": "relEmploymentNav"
                              }
                            }
                          },
                          "description": "results"
                        }
                      },
                      "description": "empJobRelationshipNav"
                    },
                    "empPensionPayoutNav": {
                      "type": "object",
                      "properties": {
                        "createdBy": {
                          "type": "string",
                          "description": "createdBy"
                        },
                        "createdDateTime": {
                          "type": "string",
                          "description": "createdDateTime"
                        },
                        "createdOn": {
                          "type": "string",
                          "description": "createdOn"
                        },
                        "employmentNav": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "value"
                            }
                          },
                          "description": "employmentNav"
                        },
                        "endDate": {
                          "type": "string",
                          "description": "endDate"
                        },
                        "lastModifiedBy": {
                          "type": "string",
                          "description": "lastModifiedBy"
                        },
                        "lastModifiedDateTime": {
                          "type": "string",
                          "description": "lastModifiedDateTime"
                        },
                        "lastModifiedOn": {
                          "type": "string",
                          "description": "lastModifiedOn"
                        },
                        "payrollEndDate": {
                          "type": "string",
                          "description": "payrollEndDate"
                        },
                        "personIdExternal": {
                          "type": "string",
                          "description": "personIdExternal"
                        },
                        "plannedEndDate": {
                          "type": "string",
                          "description": "plannedEndDate"
                        },
                        "startDate": {
                          "type": "string",
                          "description": "startDate"
                        },
                        "userId": {
                          "type": "string",
                          "description": "userId"
                        }
                      },
                      "description": "empPensionPayoutNav"
                    },
                    "empWorkPermitNav": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "attachment": {
                                "type": "string",
                                "description": "attachment"
                              },
                              "attachmentFileName": {
                                "type": "string",
                                "description": "attachmentFileName"
                              },
                              "attachmentFileSize": {
                                "type": "string",
                                "description": "attachmentFileSize"
                              },
                              "attachmentFileType": {
                                "type": "string",
                                "description": "attachmentFileType"
                              },
                              "attachmentId": {
                                "type": "string",
                                "description": "attachmentId"
                              },
                              "attachmentMimeType": {
                                "type": "string",
                                "description": "attachmentMimeType"
                              },
                              "attachmentStatus": {
                                "type": "string",
                                "description": "attachmentStatus"
                              },
                              "country": {
                                "type": "string",
                                "description": "country"
                              },
                              "createdBy": {
                                "type": "string",
                                "description": "createdBy"
                              },
                              "createdDateTime": {
                                "type": "string",
                                "description": "createdDateTime"
                              },
                              "createdOn": {
                                "type": "string",
                                "description": "createdOn"
                              },
                              "documentNumber": {
                                "type": "string",
                                "description": "documentNumber"
                              },
                              "documentTitle": {
                                "type": "string",
                                "description": "documentTitle"
                              },
                              "documentType": {
                                "type": "string",
                                "description": "documentType"
                              },
                              "expirationDate": {
                                "type": "string",
                                "description": "expirationDate"
                              },
                              "isValidated": {
                                "type": "string",
                                "description": "isValidated"
                              },
                              "issueDate": {
                                "type": "string",
                                "description": "issueDate"
                              },
                              "issuePlace": {
                                "type": "string",
                                "description": "issuePlace"
                              },
                              "issuingAuthority": {
                                "type": "string",
                                "description": "issuingAuthority"
                              },
                              "lastModifiedBy": {
                                "type": "string",
                                "description": "lastModifiedBy"
                              },
                              "lastModifiedDateTime": {
                                "type": "string",
                                "description": "lastModifiedDateTime"
                              },
                              "lastModifiedOn": {
                                "type": "string",
                                "description": "lastModifiedOn"
                              },
                              "notes": {
                                "type": "string",
                                "description": "notes"
                              },
                              "userId": {
                                "type": "string",
                                "description": "userId"
                              },
                              "employmentNav": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                },
                                "description": "employmentNav"
                              }
                            }
                          },
                          "description": "results"
                        }
                      },
                      "description": "empWorkPermitNav"
                    },
                    "jobInfoNav": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "assedicCertInitialStateNum": {
                                "type": "string",
                                "description": "assedicCertInitialStateNum"
                              },
                              "assedicCertObjectNum": {
                                "type": "string",
                                "description": "assedicCertObjectNum"
                              },
                              "businessUnit": {
                                "type": "string",
                                "description": "businessUnit"
                              },
                              "calcMethodIndicator": {
                                "type": "string",
                                "description": "calcMethodIndicator"
                              },
                              "commitmentIndicator": {
                                "type": "string",
                                "description": "commitmentIndicator"
                              },
                              "company": {
                                "type": "string",
                                "description": "company"
                              },
                              "contractReferenceForAed": {
                                "type": "string",
                                "description": "contractReferenceForAed"
                              },
                              "contractType": {
                                "type": "string",
                                "description": "contractType"
                              },
                              "costCenter": {
                                "type": "string",
                                "description": "costCenter"
                              },
                              "countryOfCompany": {
                                "type": "string",
                                "description": "countryOfCompany"
                              },
                              "createdBy": {
                                "type": "string",
                                "description": "createdBy"
                              },
                              "createdDateTime": {
                                "type": "string",
                                "description": "createdDateTime"
                              },
                              "createdOn": {
                                "type": "string",
                                "description": "createdOn"
                              },
                              "defaultOvertimeCompensationVariant": {
                                "type": "string",
                                "description": "defaultOvertimeCompensationVariant"
                              },
                              "department": {
                                "type": "string",
                                "description": "department"
                              },
                              "division": {
                                "type": "string",
                                "description": "division"
                              },
                              "eeo1JobCategory": {
                                "type": "string",
                                "description": "eeo1JobCategory"
                              },
                              "eeo4JobCategory": {
                                "type": "string",
                                "description": "eeo4JobCategory"
                              },
                              "eeo5JobCategory": {
                                "type": "string",
                                "description": "eeo5JobCategory"
                              },
                              "eeo6JobCategory": {
                                "type": "string",
                                "description": "eeo6JobCategory"
                              },
                              "eeoClass": {
                                "type": "string",
                                "description": "eeoClass"
                              },
                              "electoralCollegeForWorkersRepresentatives": {
                                "type": "string",
                                "description": "electoralCollegeForWorkersRepresentatives"
                              },
                              "electoralCollegeForWorksCouncil": {
                                "type": "string",
                                "description": "electoralCollegeForWorksCouncil"
                              },
                              "empRelationship": {
                                "type": "string",
                                "description": "empRelationship"
                              },
                              "emplStatus": {
                                "type": "string",
                                "description": "emplStatus"
                              },
                              "employeeClass": {
                                "type": "string",
                                "description": "employeeClass"
                              },
                              "employeeWorkgroupMembership": {
                                "type": "string",
                                "description": "employeeWorkgroupMembership"
                              },
                              "employmentType": {
                                "type": "string",
                                "description": "employmentType"
                              },
                              "endDate": {
                                "type": "string",
                                "description": "endDate"
                              },
                              "event": {
                                "type": "string",
                                "description": "event"
                              },
                              "eventReason": {
                                "type": "string",
                                "description": "eventReason"
                              },
                              "exclExecutiveSector": {
                                "type": "string",
                                "description": "exclExecutiveSector"
                              },
                              "expectedReturnDate": {
                                "type": "string",
                                "description": "expectedReturnDate"
                              },
                              "familyRelationshipWithEmployer": {
                                "type": "string",
                                "description": "familyRelationshipWithEmployer"
                              },
                              "fgtsDate": {
                                "type": "string",
                                "description": "fgtsDate"
                              },
                              "fgtsOptant": {
                                "type": "string",
                                "description": "fgtsOptant"
                              },
                              "fgtsPercent": {
                                "type": "string",
                                "description": "fgtsPercent"
                              },
                              "flsaStatus": {
                                "type": "string",
                                "description": "flsaStatus"
                              },
                              "fte": {
                                "type": "string",
                                "description": "fte"
                              },
                              "harmfulAgentExposure": {
                                "type": "string",
                                "description": "harmfulAgentExposure"
                              },
                              "hazard": {
                                "type": "string",
                                "description": "hazard"
                              },
                              "healthRisk": {
                                "type": "string",
                                "description": "healthRisk"
                              },
                              "holidayCalendarCode": {
                                "type": "string",
                                "description": "holidayCalendarCode"
                              },
                              "isCompetitionClauseActive": {
                                "type": "string",
                                "description": "isCompetitionClauseActive"
                              },
                              "isFulltimeEmployee": {
                                "type": "string",
                                "description": "isFulltimeEmployee"
                              },
                              "isSideLineJobAllowed": {
                                "type": "string",
                                "description": "isSideLineJobAllowed"
                              },
                              "jobCode": {
                                "type": "string",
                                "description": "jobCode"
                              },
                              "jobTitle": {
                                "type": "string",
                                "description": "jobTitle"
                              },
                              "laborProtection": {
                                "type": "string",
                                "description": "laborProtection"
                              },
                              "lastModifiedBy": {
                                "type": "string",
                                "description": "lastModifiedBy"
                              },
                              "lastModifiedDateTime": {
                                "type": "string",
                                "description": "lastModifiedDateTime"
                              },
                              "lastModifiedOn": {
                                "type": "string",
                                "description": "lastModifiedOn"
                              },
                              "location": {
                                "type": "string",
                                "description": "location"
                              },
                              "managerId": {
                                "type": "string",
                                "description": "managerId"
                              },
                              "mandatoryWorkBreakRecord": {
                                "type": "string",
                                "description": "mandatoryWorkBreakRecord"
                              },
                              "municipalInseeCode": {
                                "type": "string",
                                "description": "municipalInseeCode"
                              },
                              "notes": {
                                "type": "string",
                                "description": "notes"
                              },
                              "operation": {
                                "type": "string",
                                "description": "operation"
                              },
                              "payGrade": {
                                "type": "string",
                                "description": "payGrade"
                              },
                              "payScaleArea": {
                                "type": "string",
                                "description": "payScaleArea"
                              },
                              "payScaleGroup": {
                                "type": "string",
                                "description": "payScaleGroup"
                              },
                              "payScaleLevel": {
                                "type": "string",
                                "description": "payScaleLevel"
                              },
                              "payScaleType": {
                                "type": "string",
                                "description": "payScaleType"
                              },
                              "pcfm": {
                                "type": "string",
                                "description": "pcfm"
                              },
                              "pensionProtection": {
                                "type": "string",
                                "description": "pensionProtection"
                              },
                              "permitIndicator": {
                                "type": "string",
                                "description": "permitIndicator"
                              },
                              "position": {
                                "type": "string",
                                "description": "position"
                              },
                              "positionEntryDate": {
                                "type": "string",
                                "description": "positionEntryDate"
                              },
                              "probationPeriodEndDate": {
                                "type": "string",
                                "description": "probationPeriodEndDate"
                              },
                              "regularTemp": {
                                "type": "string",
                                "description": "regularTemp"
                              },
                              "residentVote": {
                                "type": "string",
                                "description": "residentVote"
                              },
                              "retired": {
                                "type": "string",
                                "description": "retired"
                              },
                              "seqNumber": {
                                "type": "string",
                                "description": "seqNumber"
                              },
                              "sickPaySupplement": {
                                "type": "string",
                                "description": "sickPaySupplement"
                              },
                              "standardHours": {
                                "type": "string",
                                "description": "standardHours"
                              },
                              "startDate": {
                                "type": "string",
                                "description": "startDate"
                              },
                              "teachersPension": {
                                "type": "string",
                                "description": "teachersPension"
                              },
                              "timeRecordingAdmissibilityCode": {
                                "type": "string",
                                "description": "timeRecordingAdmissibilityCode"
                              },
                              "timeRecordingProfileCode": {
                                "type": "string",
                                "description": "timeRecordingProfileCode"
                              },
                              "timeRecordingVariant": {
                                "type": "string",
                                "description": "timeRecordingVariant"
                              },
                              "timeTypeProfileCode": {
                                "type": "string",
                                "description": "timeTypeProfileCode"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "timezone"
                              },
                              "travelDistance": {
                                "type": "string",
                                "description": "travelDistance"
                              },
                              "tupeOrgNumber": {
                                "type": "string",
                                "description": "tupeOrgNumber"
                              },
                              "userId": {
                                "type": "string",
                                "description": "userId"
                              },
                              "workLocation": {
                                "type": "string",
                                "description": "workLocation"
                              },
                              "workerCategory": {
                                "type": "string",
                                "description": "workerCategory"
                              },
                              "workingDaysPerWeek": {
                                "type": "string",
                                "description": "workingDaysPerWeek"
                              },
                              "workingTimeDirective": {
                                "type": "string",
                                "description": "workingTimeDirective"
                              },
                              "workscheduleCode": {
                                "type": "string",
                                "description": "workscheduleCode"
                              },
                              "wtdHoursLimit": {
                                "type": "string",
                                "description": "wtdHoursLimit"
                              },
                              "employmentNav": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                },
                                "description": "employmentNav"
                              },
                              "managerEmploymentNav": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                },
                                "description": "managerEmploymentNav"
                              }
                            }
                          },
                          "description": "results"
                        }
                      },
                      "description": "jobInfoNav"
                    }
                  },
                  "description": "d"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "target": {
                      "type": "string",
                      "description": "target"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "message": {
                            "type": "string",
                            "description": "message"
                          },
                          "target": {
                            "type": "string",
                            "description": "target"
                          }
                        }
                      },
                      "description": "details"
                    },
                    "innererror": {
                      "type": "object",
                      "properties": {},
                      "description": "innererror"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        }
      }
    },
    "/EmpJob": {
      "get": {
        "summary": "List jobs",
        "description": "List jobs",
        "operationId": "ListJobs",
        "parameters": [
          {
            "name": "$top",
            "default": 10,
            "in": "query",
            "type": "number",
            "required": true,
            "description": "Number of results",
            "x-ms-summary": "Top"
          },
          {
            "name": "$filter",
            "default": "\u003Cstring\u003E",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "description": "uri",
                                "title": "",
                                "x-ms-visibility": "internal"
                              },
                              "type": {
                                "type": "string",
                                "description": "type",
                                "title": "",
                                "x-ms-visibility": "internal"
                              }
                            },
                            "description": "__metadata"
                          },
                          "seqNumber": {
                            "type": "string",
                            "description": "seqNumber"
                          },
                          "userId": {
                            "type": "string",
                            "description": "userId"
                          },
                          "startDate": {
                            "type": "string",
                            "description": "startDate"
                          },
                          "occupationalLevels": {
                            "type": "string",
                            "description": "occupationalLevels"
                          },
                          "workscheduleCode": {
                            "type": "string",
                            "description": "Use the work schedule code to retrieve the users work schedule",
                            "title": "Work schedule code"
                          },
                          "fgtsOptant": {
                            "type": "boolean",
                            "description": "fgtsOptant"
                          },
                          "commitmentIndicator": {
                            "type": "string",
                            "description": "commitmentIndicator"
                          },
                          "effectiveLatestChange": {
                            "type": "boolean",
                            "description": "effectiveLatestChange"
                          },
                          "endDate": {
                            "type": "string",
                            "description": "endDate"
                          },
                          "contractType": {
                            "type": "string",
                            "description": "contractType"
                          },
                          "mandatoryWorkBreakRecord": {
                            "type": "string",
                            "description": "mandatoryWorkBreakRecord"
                          },
                          "createdDateTime": {
                            "type": "string",
                            "description": "createdDateTime"
                          },
                          "jobCode": {
                            "type": "string",
                            "description": "jobCode"
                          },
                          "validFrom": {
                            "type": "string",
                            "description": "validFrom"
                          },
                          "fgtsDate": {
                            "type": "string",
                            "description": "fgtsDate"
                          },
                          "payScaleLevel": {
                            "type": "string",
                            "description": "payScaleLevel"
                          },
                          "division": {
                            "type": "string",
                            "description": "division"
                          },
                          "timeTypeProfileCode": {
                            "type": "string",
                            "description": "timeTypeProfileCode"
                          },
                          "eeoClass": {
                            "type": "string",
                            "description": "eeoClass"
                          },
                          "hazard": {
                            "type": "boolean",
                            "description": "hazard"
                          },
                          "fromCurrency": {
                            "type": "string",
                            "description": "fromCurrency"
                          },
                          "eeo5JobCategory": {
                            "type": "string",
                            "description": "eeo5JobCategory"
                          },
                          "flsaStatus": {
                            "type": "string",
                            "description": "flsaStatus"
                          },
                          "educationalEntity": {
                            "type": "string",
                            "description": "educationalEntity"
                          },
                          "costCenter": {
                            "type": "string",
                            "description": "costCenter"
                          },
                          "residentVote": {
                            "type": "boolean",
                            "description": "residentVote"
                          },
                          "timeRecordingProfileCode": {
                            "type": "string",
                            "description": "timeRecordingProfileCode"
                          },
                          "laborProtection": {
                            "type": "boolean",
                            "description": "laborProtection"
                          },
                          "exclExecutiveSector": {
                            "type": "boolean",
                            "description": "exclExecutiveSector"
                          },
                          "isFulltimeEmployee": {
                            "type": "boolean",
                            "description": "isFulltimeEmployee"
                          },
                          "emplStatus": {
                            "type": "string",
                            "description": "emplStatus"
                          },
                          "payScaleType": {
                            "type": "string",
                            "description": "payScaleType"
                          },
                          "countryOfCompany": {
                            "type": "string",
                            "description": "countryOfCompany"
                          },
                          "eeo6JobCategory": {
                            "type": "string",
                            "description": "eeo6JobCategory"
                          },
                          "createdOn": {
                            "type": "string",
                            "description": "createdOn"
                          },
                          "municipalInseeCode": {
                            "type": "string",
                            "description": "municipalInseeCode"
                          },
                          "healthRisk": {
                            "type": "boolean",
                            "description": "healthRisk"
                          },
                          "timeRecordingAdmissibilityCode": {
                            "type": "string",
                            "description": "timeRecordingAdmissibilityCode"
                          },
                          "fte": {
                            "type": "string",
                            "description": "fte"
                          },
                          "payGrade": {
                            "type": "string",
                            "description": "payGrade"
                          },
                          "travelDistance": {
                            "type": "string",
                            "description": "travelDistance"
                          },
                          "event": {
                            "type": "string",
                            "description": "event"
                          },
                          "timeRecordingVariant": {
                            "type": "string",
                            "description": "timeRecordingVariant"
                          },
                          "assedicCertObjectNum": {
                            "type": "string",
                            "description": "assedicCertObjectNum"
                          },
                          "managerId": {
                            "type": "string",
                            "description": "managerId"
                          },
                          "lastModifiedOn": {
                            "type": "string",
                            "description": "lastModifiedOn"
                          },
                          "mandatoryInternship": {
                            "type": "string",
                            "description": "mandatoryInternship"
                          },
                          "dynamicBreakConfigCode": {
                            "type": "string",
                            "description": "dynamicBreakConfigCode"
                          },
                          "workerCategory": {
                            "type": "string",
                            "description": "workerCategory"
                          },
                          "defaultOvertimeCompensationVariant": {
                            "type": "string",
                            "description": "defaultOvertimeCompensationVariant"
                          },
                          "businessUnit": {
                            "type": "string",
                            "description": "businessUnit"
                          },
                          "lastModifiedDateTime": {
                            "type": "string",
                            "description": "lastModifiedDateTime"
                          },
                          "notes": {
                            "type": "string",
                            "description": "notes"
                          },
                          "harmfulAgentExposure": {
                            "type": "string",
                            "description": "harmfulAgentExposure"
                          },
                          "jobTitle": {
                            "type": "string",
                            "description": "jobTitle"
                          },
                          "sickPaySupplement": {
                            "type": "string",
                            "description": "sickPaySupplement"
                          },
                          "electoralCollegeForWorksCouncil": {
                            "type": "string",
                            "description": "electoralCollegeForWorksCouncil"
                          },
                          "integrationAgent": {
                            "type": "string",
                            "description": "integrationAgent"
                          },
                          "familyRelationshipWithEmployer": {
                            "type": "string",
                            "description": "familyRelationshipWithEmployer"
                          },
                          "exchangeRate": {
                            "type": "string",
                            "description": "exchangeRate"
                          },
                          "internshipLevel": {
                            "type": "string",
                            "description": "internshipLevel"
                          },
[...]
